@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'challenges/four-card-feature-section';
@import 'challenges/coming-soon';
@import 'challenges/signup-form';
@import 'challenges/single-price-grid';
@import 'challenges/single-page-column';

.main {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    margin: 2rem 0;
  }

  .challenges {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 1rem;
      width: 300px;
      max-width: 100%;
      opacity: 0.75;
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        opacity: 1;
        transform: scale(1.05);
      }

      img {
        display: block;
        max-width: 100%;
      }

      a {
        text-decoration: none;
      }

      span {
        text-transform: capitalize;
        display: block;
        text-align: center;
        margin-top: 0.5rem;
        text-decoration: none;
        color: #09f;
      }
    }
  }
}
